<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows DB App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/actor.css">
</head>


<body>
    <%- include('partials/navbar'); -%>
        <div class="container">
            <div class="row mt-5">
                <div class="col-4"><img src="http://image.tmdb.org/t/p/h632<%=actor.data.profile_path%> " alt="">
                </div>
                <div class="col bio">
                    <%=actor.data.biography%>
                        <ul class="list-group list-group-flush mt-5 text-center">
                            <li class="list-group-item">Birthday: <%=actor.data.birthday%>
                            </li>
                            <li class="list-group-item">Place of birth: <%=actor.data.place_of_birth%>
                            </li>
                            <li class="list-group-item">Known for: <%=actor.data.known_for_department%>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <%- include('partials/footer'); -%>